<h2 class="mb-4">Dashboard de Produtos</h2>

<ul class="list-group mb-4">
  <li class="list-group-item">
    Quantidade total de produtos cadastrados: <strong>{{total}}</strong>
  </li>
  <li class="list-group-item">
    Produtos com baixo estoque (&lt; 10): <strong>{{baixoEstoque}}</strong>
  </li>
  <li class="list-group-item">
    Computadores / Notebooks: <strong>{{computadores}}</strong>
  </li>
  <li class="list-group-item">
    Dispositivos móveis: <strong>{{moveis}}</strong>
  </li>
  <li class="list-group-item">
    Produtos entre R$ 0 e R$ 100: <strong>{{faixa1}}</strong>
  </li>
  <li class="list-group-item">
    Produtos entre R$ 101 e R$ 1.000: <strong>{{faixa2}}</strong>
  </li>
  <li class="list-group-item">
    Produtos entre R$ 1.001 e R$ 5.000: <strong>{{faixa3}}</strong>
  </li>
  <li class="list-group-item">
    Produtos acima de R$ 5.000: <strong>{{faixa4}}</strong>
  </li>
</ul>

<a href="/" class="btn btn-secondary">Voltar</a>
